streamlit==1.56.0

# LangChain stack
langchain==1.2.15
langchain-core==1.2.30
langchain-community==0.4.1
langchain-text-splitters==1.1.1

# Embedding / Vector DB
faiss-cpu==1.13.2
sentence-transformers==5.4.1

# ML / Transformers
transformers==5.5.4
torch==2.11.0

# PDF
pdfplumber

# Env config
python-dotenv==1.2.2

# LLM
groq==0.1.0